:root {
  --primary-blue-darling: #23C3FD;
  --secondary-green: #D2F7EC;
  --secondary-pink: #F9DCDC;
  --secondary-yellow: #FEF878;
  --primary-blue: #1A2233;
  --primary-gray: #787676;
  --primary-gray-light: #B1B1B1;
  --primary-gray-lighter: #EFEFEF;
  --primary-white: #FFFFFF;
  --hover-green: #EEEEEEB3;
  --hover-white: #FFFFFFB3;
  --body-12: 12px;
  --body-14: 14px;
  --body-16: 16px;
  --h2: 32px;
  --h1:40px;
}